*.txt
*.csv
*.pdf
*.xls
*.xlsx
*.png
*.jpg
*.wav
*.mp3
*.log
*.out
*.doc
*.docx
*.save
*.Rhistory
*.flake8
*.Rmd
*.Rhistory
*.zip
*/.ipynb_checkpoints/
build/
*.bat
*.html
*.PDF
*.tar.gz
*.gz
*.mp4
*.avi
*.svg
__pycache__/
